@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background: white;
  z-index: 2; /* Ensure the front is above the back */
}

.card-back {
  background: yellow;
  transform: rotateY(180deg);
  z-index: 1; /* Ensure the back is below the front */
}
